NODE_ENV=development

STATIC_TOKENS=token1,token2

BACKEND_PORT=8080
DIVERA_API_KEY=your-divera-api-key

# PostgreSQL DB-Settings
POSTGRES_USER=alacogi
POSTGRES_PASSWORD=alacogi
POSTGRES_DB=alacogi
POSTGRES_HOST=postgres
POSTGRES_PORT=5432