node_modules
dist
.env
.env.production
.env.local

# Test coverage
coverage
*.lcov

# Test files
.env.test.local

# Compiled test files
test/**/*.js
test/**/*.js.map
test/**/*.d.ts

# Deployment
*.tar.gz
.ssh
backups/
*.sql
