version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: alacogi-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: alacogi
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
